<div
  id="nav"
  class="navbar column is-1 is-light hero"
  v-if="isUserAuthentificated"
>
  <div class="hero-head">
    <router-link to="/dashboard" class="navbar-item">
      <font-awesome-icon icon="home"></font-awesome-icon
    ></router-link>
    <router-link to="/find" class="navbar-item">
      <font-awesome-icon icon="search"></font-awesome-icon
    ></router-link>
    <router-link to="/connections" class="navbar-item">
      <font-awesome-icon icon="user-friends"></font-awesome-icon
    ></router-link>
  </div>
  <div class="hero-footer">
    <router-link to="/settings" class="navbar-item">
      <font-awesome-icon icon="cog"></font-awesome-icon
    ></router-link>
    <a @click="userLogout" class="navbar-item">
      <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
    </a>
  </div>
</div>
