<div id="nav" class="navbar column is-1 is-light" v-if="isUserAuthentificated">
  <router-link to="/dashboard" class="navbar-item">
    <font-awesome-icon icon="home"></font-awesome-icon
  ></router-link>
  <router-link to="/settings" class="navbar-item">
    <font-awesome-icon icon="cog"></font-awesome-icon
  ></router-link>
  <router-link to="/find" class="navbar-item">
    <font-awesome-icon icon="search"></font-awesome-icon
  ></router-link>
  <router-link to="/connections" class="navbar-item">
    <font-awesome-icon icon="user-friends"></font-awesome-icon
  ></router-link>
</div>
