<section class="find-partner hero">
  <div class="hero-body">
    <div class="container find-partner__container">
      <div v-for="(user, index) in userPendingConnections">
        <h1 class="mb-10 mt-20">{{user}}</h1>
        <span class="mr-10" @click="acceptFriendRequest(user)">
            <font-awesome-icon icon="user-plus"></font-awesome-icon
              ></router-link>
        </span>
      </div>
      <div v-for="(user, index) in userAcceptedConnections">
        <h1 class="mb-10 mt-20">{{user}}</h1>
        <span class="mr-10">
            <font-awesome-icon icon="comments"></font-awesome-icon
              ></router-link>
          </span>
      </div>
    </div>
  </div>
</section>
