<section class="sign-up">
  <div class="columns is-vcentered sign-up__content">
    <div class="column is-half">
      <div class="sign-up__form">
        <div class="sign-up__fields">
          <form id="signUpForm">
            <h4 class="title is-4">Create profile</h4>
            <!-- Email -->
            <b-field label="Email">
              <b-input type="email" v-model="email" placeholder="Email" rounded>
              </b-input>
            </b-field>
            <!-- Password -->
            <b-field
              label="Password"
              :message="[ { 'Password must have at least 8 characters': hasError() }]"
              :type="{ 'is-danger': hasError() }"
            >
              <b-input
                type="password"
                v-model="password"
                placeholder="Password"
                password-reveal
                rounded
              >
              </b-input>
            </b-field>

            <h5 class="title is-5 sign-up__profile-details">Profile details</h5>
            <div>
              <!-- Name -->
              <b-field label="Name">
                <b-input type="text" v-model="name" placeholder="Name" rounded>
                </b-input>
              </b-field>
              <!-- Username -->
              <b-field label="Username">
                <b-input
                  type="text"
                  v-model="username"
                  placeholder="Username"
                  rounded
                >
                </b-input>
              </b-field>
              <!-- Gender -->
              <div class="sign-up__gender">
                <b-radio v-model="gender" native-value="Male">
                  Male
                </b-radio>
                <b-radio v-model="gender" native-value="Female">
                  Female
                </b-radio>
              </div>
            </div>

            <div class="sign-up__buttons">
              <b-button @click="signUp" :disabled="isInvalid()" rounded>
                Sign Up
              </b-button>
              <b-button @click="goBack" rounded>Go to login</b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column is-half sign-up__right"></div>
  </div>
</section>
