@import '../../scss/colors';

.sign-up {
  display: flex;
  height: 100%;
  &__content {
    width: 100%;
    margin: 0 !important;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__fields {
    width: 60%;
  }

  &__right {
    height: 100%;
    width: 100%;
    background-color: #3f898b8f;
  }
  &__categories {
    display: flex;
  }
  &__category {
    margin-right: 10px;
    &__button {
      label {
        border-radius: 20px;
      }
    }
  }
  &__card-footer {
    &__btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      button {
        margin-bottom: 10px;
      }
    }
  }
  &__profile-details {
    margin-top: 35px;
  }
  &__gender {
    margin: 20px 0;
  }
  &__buttons {
    display: flex;
    button:first-child {
      margin-right: 5%;
      background-color: $primary;
      color: $white;
    }
    button {
      width: 50%;
    }
  }
}
