<div>
  <div>Categories:</div>
  <div v-for="(categoryItem, index) in categories">
    <span @click="updateCategoriesList(index)">
      <b-tag :key="index">{{categoryItem.type}}</b-tag>
    </span>
  </div>
  <b-button @click="updateFilters()" type="is-primary">Filter</b-button>

  <!-- User selected categories -->
  <div
    v-if="userSelectedCategories"
    v-for="(userCategory, index) in userSelectedCategories"
  >
    <strong>{{userCategory.type}} </strong>
    <div v-for="(user, index) in userCategory.users">
      {{user.name}}
    </div>
  </div>
</div>
