<div v-if="categories">
  <div>Categories:</div>
  <div class="field" v-for="(user, index) in user.categories">
    <b-tag
      v-if="selectedCategories[index]"
      type="is-primary"
      closable
      aria-close-label="Close tag"
      @close="removeSelectedCategory(index)"
    >
      {{selectedCategories[index].name}}
    </b-tag>
  </div>

  <div v-if="categories">
    <div v-for="(categ, index) in categories" v-if="hasCateg(index)">
      <strong>{{categ.type}}</strong>

      <div
        v-for="userByCateg in categ.users"
        v-if="userByCateg.name !== user.name"
      >
        <span>
          {{userByCateg.name}} | {{userByCateg.gender}} |
          {{userByCateg.location}}
        </span>
        <b-button>Contact</b-button>
      </div>
      <div v-else>
        No users in this category
      </div>
    </div>
  </div>
</div>
