<div>
  <div>Categories:</div>
  <div class="field" v-for="(user, index) in user.categories">
    <b-tag
      v-if="selectedCaterogies[index]"
      type="is-primary"
      closable
      aria-close-label="Close tag"
      @close="removeSelectedCategory(index)"
    >
      {{selectedCaterogies[index].name}}
    </b-tag>
  </div>

  <div v-for="(categ,index) in categories" v-if="selectedCaterogies[index]">
    <strong>{{categ.type}}</strong>

    <div
      v-for="userByCateg in categ.users"
      v-if="userByCateg.name !== user.name"
    >
      <span>
        {{userByCateg.name}} | {{userByCateg.gender}} | {{userByCateg.location}}
      </span>
      <b-button>Contact</b-button>
    </div>
  </div>
</div>
