<section class="sign-up">
  <div class="columns is-vcentered sign-up__content">
    <div class="column is-half">
      <div class="sign-up__form">
        <div class="sign-up__fields">
          <div>Login</div>
          <b-field label="Email">
            <b-input type="email" v-model="email" placeholder="Email" rounded>
            </b-input>
          </b-field>
          <b-field label="Password">
            <b-input
              type="password"
              v-model="password"
              placeholder="Password"
              password-reveal
              rounded
            >
            </b-input>
          </b-field>
          <div class="sign-up__buttons">
            <b-button rounded
              ><router-link to="/sign-up">Sign Up</router-link>
            </b-button>
            <b-button @click="login" rounded>Login</b-button>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half sign-up__right"></div>
  </div>
</section>
