<section class="login">
  <div class="columns is-vcentered login__content">
    <div class="column is-half">
      <div class="login__form">
        <div class="login__fields">
          <div class="subtitle">
            Login
          </div>
          <b-field label="Email">
            <b-input type="email" v-model="email" placeholder="Email" rounded>
            </b-input>
          </b-field>
          <b-field label="Password">
            <b-input
              type="password"
              v-model="password"
              placeholder="Password"
              password-reveal
              rounded
            >
            </b-input>
          </b-field>
          <div class="login__buttons">
            <b-button @click="login" rounded>Login</b-button>
            <b-button @click="signup" rounded>Sign Up</b-button>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half login__right"></div>
  </div>
</section>
