@import '../../scss/colors';

.login {
  display: flex;
  height: 100%;
  &__content {
    width: 100%;
    margin: 0 !important;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__fields {
    width: 60%;
  }

  &__buttons {
    display: flex;
    button:first-child {
      margin-right: 5%;
      background-color: $primary;
      color: $white;
    }
    button {
      width: 50%;
    }
  }
  &__right {
    height: 100%;
    width: 100%;
    background-color: #3f898b8f;
  }
}
