.login {
  display: flex;
  height: 100%;
  &__content {
    width: 100%;
    margin: 0 !important;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__fields {
    width: 60%;
  }

  &__buttons {
    display: flex;
    :first-child {
      margin-right: 5%;
    }
  }
  &__right {
    height: 100%;
    width: 100%;
    background-color: #8eb7ce;
  }
}
